@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


#body{
    margin: 0;
    background: #1e1e1e;
    overflow: hidden;
}
#circle{
    border-radius: 50%;
    border: solid #1e1e1e 2vw;
    width: 80vw;
    height: 80vw;
    z-index: 1;
    position: absolute;
    position: fixed;
    margin-top: -15vw;
    margin-left: -30vw;
    background-color: #F4FF83;
}
#sun{
    mix-blend-mode: screen;
    position: absolute;
    z-index: 0;
    margin-left: 2vw;
    margin-top: -10vw;
}
#block{
    width: 45vw;
    height: 51vw;
    margin-left: 50vw;
    position: absolute;
    z-index: 0;
    position: fixed;
}
#txtDiv{
    width: 30vw;
    height: 39vw;
    margin-left: 60vw;
    margin-top: 6vw;
    position: absolute;
    z-index: 3;
    font-family: Poppins;
    overflow-y: scroll; 
}
#txtDiv::-webkit-scrollbar {
    display: none;
}


#splineLight{
    margin-left: -25vw;
    z-index: 1;
    position: absolute;
    position: fixed;

}
#btn1{
    z-index: 20;
    margin-top: 2vw;
    border-radius: 40px;
    padding: 1vw 1.5vw;
    background-color: white;
    color: black;
    font-size: 1,5em;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    text-decoration: none;
    position: fixed;
    margin-top: 2vw;
    margin-left: 2vw;
    font-weight: bold;
    border-style: solid;
    border-color: black;

}

#btn2{
    z-index: 20;
    margin-top: 2vw;
    border-radius: 40px;
    padding: 0.5vw 1.5vw;
    background: white;
    color: black;
    font-size: 1,5em;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    text-decoration: none;
    position: fixed;
    margin-top: 2vw;
    margin-left: 12vw;
    border-color: black;
    border-style: solid;

}
#btn3{
    z-index: 20;
    margin-top: 2vw;
    border-radius: 40px;
    padding: 8px 30px;
    background: white;
    color: black;
    font-size: 1,5em;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    text-decoration: none;
    position: fixed;
    margin-top: 2vw;
    margin-left: 22vw;
    border-color: black;
    border-style: solid;

}
#btn4{
    z-index: 20;
    margin-top: 2vw;
    border-radius: 40px;
    padding: 8px 30px;
    background: white;
    color: black;
    font-size: 1,5em;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    text-decoration: none;
    position: fixed;
    margin-top: 2vw;
    margin-left: 30vw;
    border-color: black;
    border-style: solid;

}
#btn5{
    z-index: 20;
    margin-top: 2vw;
    border-radius: 40px;
    padding: 8px 30px;
    background: white;
    color: black;
    font-size: 1,5em;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    text-decoration: none;
    position: fixed;
    margin-top: 2vw;
    margin-left: 38vw;
    border-color: black;
    border-style: solid;

}
#btn6{
    z-index: 20;
    margin-top: 2vw;
    border-radius: 40px;
    padding: 8px 30px;
    background: white;
    color: black;
    font-size: 1,5em;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    text-decoration: none;
    position: fixed;
    margin-top: 2vw;
    margin-left: 90vw;
    border-color: black;
    border-style: solid;

}
#btn1:hover{
    background: transparent;
    color: white;
}
#btn2:hover{
    background: transparent;
    color: white;
}
#btn3:hover{
    background: #660A9E;
}
#btn4:hover{
    background: #F4FF83;
}
#btn5:hover{
    background: transparent;
    color: white;
}
#btn5:hover{
    background: transparent;
    color: white;
}
#btn6:hover{
    background: transparent;
    color: white;
}


.btnAnim {
    background: #fffc41;
    color: #1e1e1e;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 1.5vw;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #fffb00;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    margin-top: 10vw;
    z-index: 2;
  }
  
  .btnAnim .icon {
    background: #1e1e1e;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #fffb00;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .btnAnim:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .btnAnim .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #fffb00;
  }
  
  .btnAnim:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .btnAnim:active .icon {
    transform: scale(0.95);
  }

#video{
    width: 100vw;
    height: 100vh;
    display: none;
}
#txt{
    color: white;
}
#Titletxt{
    color: white;
}
#drohnenSatz{
    color: white;
}